<!DOCTYPE html>
<html>
<head>
  <title>Twitter Page</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="public/application.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="public/custom.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      
      <!-- Header -->
      <div class="row">
        <div class="col-xs-5">
          <h1>T<span class="red">w</span>it T<span class="red">w</span>it T<span class="red">w</span>it</h1>
          <h2>Sign In</h2>
          <form>
            <input type="text" id="username" placeholder="username">
            <input type ="password" id="password" placeholder="password">
              <button id="sign-in">Sign In</button>   
          </form>
        </div>
        <div class="col-xs-7">
          <img src="public/images/birds.gif" />
        </div>
      </div>
      
      <!-- User Sign In   -->
        <div class="row">
        <div class="col-xs-12">
<!--           <h2>Sign In</h2>
          <form>
            <input type="text" id="username" placeholder="username">
            <input type ="password" id="password" placeholder="password">
              <button id="sign-in">Sign In</button>   
          </form> -->
        </div>
      </div>
      
      <!-- New User Sign Up -->
      <div class="row">
        <div class="col-xs-12">
          <h2>Sign Up</h2>
          <form>
            <input type="text" id="name" placeholder="name">
            <input type="text" id="email" placeholder="email address">
            <input type="text" id="username2" placeholder="username">
            <input type ="password" id="password2" placeholder="password">
              <button id="sign-up">Sign Up</button>   
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>