<!DOCTYPE html>
<html>
<head>
  <title></title>

  <script type="text/javascript" src="public/application.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col-xs-12">
          <h1>Twit</h1>
        </div>
      </div>
      <!-- User Sign In   -->
        <div class="row">
        <div class="col-xs-12">
          <h3>Sign In</h3>
          <form>
            <input type="text" id="username" placeholder="username">
            <input type ="password" id="password" placeholder="password">
              <button id="sign-up">Sign Up</button>   
          </form>
        </div>
      </div>
      <!-- New User Sign Up -->
      <div class="row">
        <div class="col-xs-12">
          <h3>Sign Up</h3>
          <form>
            <input type="text" id="name" placeholder="name">
            <input type="text" id="email" placeholder="email address">
            <input type="text" id="username" placeholder="username">
            <input type ="password" id="password" placeholder="password">
              <button id="sign-up">Sign Up</button>   
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>